
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<!-- Page Heading -->
<div class="d-sm-flex align-items-center justify-content-between mb-4">
    <h1 class="h3 mb-0 text-gray-800">Thống kê kết quả học tập</h1>
    <a href="#" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm"><i class="fas fa-download fa-sm text-white-50"></i> Thống kê </a>
</div>



<!-- Content Row -->

<div>

    <!-- Area Chart -->
    <div class="col-lg-12">
        <div class="card shadow mb-4">
            <!-- Card Header - Dropdown -->
            <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                <h6 id="titleLine" class="m-0 font-weight-bold text-primary"></h6>
                <div class="dropdown no-arrow">
                    <a class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <i class="fas fa-ellipsis-v fa-sm fa-fw text-gray-400"></i>
                    </a>
                    <div class="dropdown-menu dropdown-menu-right shadow animated--fade-in" aria-labelledby="dropdownMenuLink">
                        <div class="dropdown-header">Chọn thống kê</div>
                        <a class="dropdown-item" onclick="LineChart_Call('/manager/resultStatistic/AreaRateGioi', data = null)">Tỉ lệ học sinh giỏi các khối</a>
                        <a class="dropdown-item" onclick="LineChart_Call('/manager/resultStatistic/AreaRateKha', data = null)">Tỉ lệ học sinh khá các khối</a>
                        <a class="dropdown-item" onclick="LineChart_Call('/manager/resultStatistic/AreaRateTB', data = null)">Tỉ lệ học sinh trung bình các khối</a>
                        <a class="dropdown-item" onclick="LineChart_Call('/manager/resultStatistic/AreaRate', data = null)">Tỉ lệ học sinh yếu các khối</a>
                    </div>
                </div>
            </div>
            <!-- Card Body -->
            <div class="card-body">
                <div class="chart-area">
                    <canvas id="myAreaChart"></canvas>
                </div>
            </div>
        </div>
    </div>



    <!-- Pie Chart -->
    <div>
        <div class="card shadow mb-4">
            <!-- Card Header - Dropdown -->
            <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                <h6 id="titlePie" class="m-0 font-weight-bold text-primary"></h6>
                <div class="dropdown no-arrow">
                    <a class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <i class="fas fa-ellipsis-v fa-sm fa-fw text-gray-400"></i>
                    </a>
                    <div class="dropdown-menu dropdown-menu-right shadow animated--fade-in" aria-labelledby="dropdownMenuLink">
                        <div class="dropdown-header">Chọn thống kê</div>
                        <a class="dropdown-item" onclick="PieChart_Call2('/manager/resultStatistic/StatisticRate', data = null)">Thống kê xếp loại học sinh toàn trường</a>
                        <a class="dropdown-item" onclick="PieChart_Call2('/manager/resultStatistic/StatisticRate10', data = null)">Thống kê xếp loại học sinh khối 10</a>
                        <a class="dropdown-item" onclick="PieChart_Call2('/manager/resultStatistic/StatisticRate11', data = null)">Thống kê xếp loại học sinh khối 11</a>
                        <a class="dropdown-item" onclick="PieChart_Call2('/manager/resultStatistic/StatisticRate12', data = null)">Thống kê xếp loại học sinh khối 12</a>
                    </div>
                </div>
            </div>
            <!-- Card Body -->
            <div class="card-body">
                <div class="container">
                    <div>
                        <canvas id="myChart" sstyle="display: block; height: 546px; width: 1092px;"></canvas>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Bar Chart -->
<div class="col-lg-12">
    <div class="card shadow mb-4">
        <!-- Card Header - Dropdown -->
        <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
            <h6 id="titleBar" class="m-0 font-weight-bold text-primary"></h6>
            <div class="dropdown no-arrow">
                <a class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <i class="fas fa-ellipsis-v fa-sm fa-fw text-gray-400"></i>
                </a>
                <div class="dropdown-menu dropdown-menu-right shadow animated--fade-in" aria-labelledby="dropdownMenuLink">
                    <div class="dropdown-header">Chọn thống kê</div>
                    <a class="dropdown-item" onclick="BarChart_Call('/manager/resultStatistic/AverageScore', data = null)">Điểm trung bình các môn học toàn trường</a>
                    <a class="dropdown-item" onclick=" BarChart_Call('/manager/resultStatistic/AverageScore10', data = null)">Điểm trung bình các môn học khối 10</a>
                    <a class="dropdown-item" onclick=" BarChart_Call('/manager/resultStatistic/AverageScore11', data = null)">Điểm trung bình các môn học khối 11</a>
                    <a class="dropdown-item" onclick=" BarChart_Call('/manager/resultStatistic/AverageScore12', data = null)">Điểm trung bình các môn học khối 12</a>

                </div>
            </div>
        </div>
        <!-- Card Body -->
        <div class="card-body">
            <div class="chart-area">
                <canvas id="myBarChart"></canvas>
            </div>
        </div>
    </div>
</div>




@section Scripts{
    <script src="~/asset/template/vendor/chart.js/Chart.min.js"></script>
    <script src="~/js/resultStatistic.js"></script>
    <script src="~/js/chart-bar-demo.js"></script>
    <script src="~/js/chart-area-demo.js"></script>
}
}



