@model IEnumerable<StudentManagement.Models.Class>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="list-group" style="margin-left:200px; margin-right:200px; text-align:center;">
    <a href="#" class="list-group-item list-group-item-action list-group-item-success active">
        <b>DANH SÁCH CÁC lỚP</b>
    </a>
    @foreach (var clas in Model)
    {
        <a href="/Teacher/SearchScore/ScoreList?id=@clas.Id" class="list-group-item list-group-item-action"><b>@clas.Name</b></a>
    }

</div>
<br />

