@page
@model RegisterModel
@using StudentManagement.Utility
@{
    ViewData["Title"] = "Register";
}

<div class="container">
    <div class="row">
        <div class="offset-2 col-lg-8 ">
            <div class="p-5">
                <div class="text-center">
                    <h1 class="h4 text-gray-900 mb-4">Tạo tài khoản</h1>
                </div>
                <form method="post" asp-route-returnUrl="@Model.ReturnUrl">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="row">
                        <div class="col-3 text-lg">
                            <label>Tên:</label>
                        </div>
                        <div class="form-group col-9">
                            <input asp-for="Input.Name" type="text" class="form-control">
                            <span asp-validation-for="Input.Name" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-3 text-lg">
                            <label>Email:</label>
                        </div>
                        <div class="form-group col-9">
                            <input asp-for="Input.Email" type="text" class="form-control">
                            <span asp-validation-for="Input.Email" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-3 text-lg">
                            <label>Địa chỉ:</label>
                        </div>
                        <div class="form-group col-9">
                            <input asp-for="Input.Address" type="text" class="form-control">
                            <span asp-validation-for="Input.Address" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-3 text-lg">
                            <label>Số điện thoại:</label>
                        </div>
                        <div class="form-group col-9">
                            <input asp-for="Input.PhoneNumber" type="text" class="form-control">
                            <span asp-validation-for="Input.PhoneNumber" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-3 text-lg">
                            <label>Mật khẩu:</label>
                        </div>
                        <div class="form-group col-9">
                            <input type="password" asp-for="Input.Password" class="form-control">
                            <span asp-validation-for="Input.Password" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-3 text-lg">
                            <label>Xác nhận mật khẩu:</label>
                        </div>
                        <div class="form-group col-9">
                            <input type="password" asp-for="Input.ConfirmPassword" class="form-control">
                            <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-3 text-lg">
                            <label>Loại tài khoản:</label>
                        </div>
                        <div class="form-group col-9">
                            @Html.DropDownListFor(m => m.Input.Role, Model.Input.RoleList, "-Chọn loại tài khoản", new { @class = "form-control" })
                            <span asp-validation-for="Input.Role" class="text-danger"></span>
                        </div>
                    </div>

                    <button type="submit" onclick="return validateInput()" class="btn btn-primary btn-user btn-block">Tạo tài khoản</button>
                </form>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
<script>
    function validateInput() {
        if (document.getElementById("uploadBox").value == "") {
            swal("Error", "Please select an image", "error");
            return false;
        }
        return true;
    }
</script>