@model StudentManagement.Models.Subject
@{
    ViewData["Title"] = "Upsert";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var title = "THÊM MÔN HỌC";
    if (Model.Id != 0)
    {
        title = "SỬA MÔN HỌC";
    }
}

<div class="container">
    <div class="row">
        <div class="offset-2 col-lg-8 ">
            <div class="p-4">
                <div class="text-center">
                    <h1 class="h4 text-gray-900 mb-4"><u>@title</u></h1>
                </div>
                <form method="post">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="row">
                        <div class="col-3 text-lg">
                            <label>Tên môn học:</label>
                        </div>
                        <div class="form-group col-9">
                            <input id="Name" asp-for="Name" type="text" class="form-control">
                            <span asp-validation-for="Name" class="text-danger"></span>
                        </div>
                    </div>

                    @if (Model.Id == 0)
                    {
                        <button type="submit" class="btn btn-success bg-gradient-success btn-user btn-block">
                            Thêm
                        </button>
                    }
                    else
                    {
                        <button type="submit" class="btn btn-success bg-gradient-success btn-user btn-block" onclick="Test()">
                            Chỉnh sửa
                        </button>}
                    <a asp-controller="Subject" asp-action="Index" class="btn btn-dark bg-gradient-dark btn-user btn-block">
                        Quay lại
                    </a>
                </form>
            </div>
        </div>
    </div>
</div>

@section Scripts{
    <partial name="_ValidationScriptsPartial" />
}



