<div class="modal fade" id="AddStudentModal" tabindex="-1" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <h3>Thêm học sinh </h3>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">
                <select id="StudentList" class="js-example-basic-single form-control js-example-responsive" style="width: 100%">
                </select><br /><br />
                <a onclick="AddStudentInClass()" class="form-control btn btn-success text-light">Thêm</a>
            </div>
        </div>
    </div>
</div>

