@model StudentManagement.Models.Class
@{
    var Title = "Thêm Lớp";

    if (Model.Id != null)
    {
        Title = "Chỉnh sửa lớp";
    }

    ViewData["Title"] = Title;
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@if (Model.Id == null)
{
    <div class="container">
        <!-- Nested Row within Card Body -->
        <div class="row">
            <div class="offset-3 col-lg-6 ">
                <div class="p-5">
                    <div class="text-center">
                        <h1 class="h4 text-gray-900 mb-4">@Title</h1>
                    </div>
                    <form method="post">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <div class="row">
                            <div class="col-3 text-lg">
                                <label>Tên lớp:</label>
                            </div>
                            <div class="form-group col-9">
                                <input id="Name" asp-for="Name" type="text" class="form-control" readonly>
                                <span asp-validation-for="Name" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-3 text-lg">
                                <label>Năm học:</label>
                            </div>
                            <div class="form-group col-9">
                                <input id="Year" asp-for="Year" type="text" class="form-control" readonly>
                                <span asp-validation-for="Year" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-3 text-lg">
                                <label>Sỉ số:</label>
                            </div>
                            <div class="form-group col-9">
                                <input id="NumStudents" asp-for="NumStudents" type="text" class="form-control" readonly>
                                <span asp-validation-for="NumStudents" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-3 text-lg">
                                Khối:
                            </div>
                            <div class="form-group col-9">
                                <select id="Grade" oninput="SelectGradeSetClassName()" asp-for="Grade" class="form-control">
                                    <option value="">--Nhấp để chọn</option>
                                    <option value="10">10</option>
                                    <option value="11">11</option>
                                    <option value="12">12</option>
                                </select>
                                <span asp-validation-for="Grade" class="text-danger"></span>
                            </div>
                        </div>

                        @if (Model.Id == null)
                        {
                            <button type="submit" class="btn btn-primary btn-user btn-block">
                                Add
                            </button>
                        }
                        else
                        {
                            <button type="submit" class="btn btn-primary btn-user btn-block">
                                Update
                            </button>
                        }
                        <a asp-controller="Class" asp-action="Index" class="btn btn-warning btn-user btn-block">
                            Back To List
                        </a>
                    </form>
                </div>
            </div>
        </div>
    </div>
}
else
{
    <input type="text" id="ClassId" value="@Model.Id">
    <h4>Danh sách học sinh lớp @Model.Name</h4>
    <div class="card shadow mb-4 bg-gray-100">
        <div class="card-header py-2">
            <a href="#" data-toggle="modal" data-target="#AddStudentModal" class="float-lg-right btn btn-info ml-2" style="color:white">
                <i class="fas fa-plus fa-sm"></i>
                Thêm học sinh
            </a>
        </div>
        <div class="card-body">
            <div class="">
                <br />
                <table class="table-bordered border-dark text-gray-900" id="tblStudentInClass" width="100%" cellspacing="0">
                    <thead>
                        <tr>
                            <th>Mã số</th>
                            <th>Tên</th>
                            <th>Giới tính</th>
                            <th>Năm sinh</th>
                            <th></th>
                        </tr>
                    </thead>
                </table>
            </div>
        </div>
    </div>

    <partial name="_AddStudent" model="ViewBag.AddStudent" />

    @section Scripts{
        <script src="~/js/studentinclass.js"></script>
    }
}

