@model StudentManagement.Models.ViewModels.ScoreVM
@{
    Layout = null;
}

<hr />
<div class="row">
    <div class="col-md-12">
        <form asp-action="EditScore" asp-route-id="@Model.RecordSubject.Id" onsubmit="return jQueryAjaxPost(this);" autocomplete="off">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="RecordSubject.Id" />
            <input type="hidden" asp-for="Student.Id" />


            <div class="form-group">
                <label asp-for="Student.Name" class="control-label"></label>
                <div class="input-group">
                    <div class="input-group-prepend">
                    </div>
                </div>
                <input asp-for="Student.Name" class="form-control" readonly="readonly" />
                <span asp-validation-for="Student.Name" class="text-danger"></span>
            </div>

            @{ string type1 = "D15P", type2 = "D1T", type3 = "DHK";}

            @for (int i = 0; i < Model.ScoreList.Count(); i++)
            {
                <div class="col-md-6">
                    <div class="form-group">
                        <input type="hidden" asp-for="ScoreList[i].Id" />
                        <input type="hidden" asp-for="ScoreList[i].RecordType" />
                        <input type="hidden" asp-for="ScoreList[i].RecordSubjectId" />
                        <input type="hidden" asp-for="ScoreList[i].RecordSubject" />

                        <label class="control-label">@Model.ScoreList[i].RecordType</label>
                        <input asp-for="ScoreList[i].Score" class="form-control" />

                        <span asp-validation-for="ScoreList[i].Score" class="text-danger"></span>
                    </div>

                </div>
            }

        <div class="form-group">
            <input type="submit" value="Submit" class="btn btn-primary btn-block" />
            @*<a href='@Url.Action("StudentScore", "ScoreManage", new { id = ViewBag.Semester})'>

            </a>*@

        </div>
            @*<input type="submit" value="Submit" class="btn btn-primary btn-block" />*@


        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}