
@{
    ViewData["Title"] = "Semester";
}
<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="#">@ViewBag.subject</a></li>
        <li class="breadcrumb-item"><a href="#">@ViewBag.lop</a></li>
        <li class="breadcrumb-item active" aria-current="page">Học kỳ</li>
    </ol>
</nav>
<a class="btn btn-primary" href="/Teacher/ScoreManage/StudentScore?id=1" role="button">Học kỳ I</a>
<a class="btn btn-primary" href="/Teacher/ScoreManage/StudentScore?id=2" role="button">Học kỳ II</a>


