@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="card shadow mb-4 bg-gray-100">
    <div class="card-body">
        <div class="">
            <table class="table-bordered border-dark text-gray-900" id="tblData" width="100%" cellspacing="0">
                <thead>
                    <tr>
                        <th>Tên</th>
                        <th>Năm học</th>
                        <th>Sỉ số</th>
                        <th></th>
                    </tr>
                </thead>
            </table>
        </div>
    </div>
</div>


@section Scripts{
    <script src="~/js/rule.js"></script>
}

